*{
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background: url(../img/space-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Inconsolata', monospace;
}
div{
  box-sizing: border-box;
}
.MainGame{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  color: white;
  text-align: center;
  height:  100%;;
}
#canvas {
}
.MainGame__start{
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.MainGame__start-title{
  font-size: 65px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
}
.MainGame__start-title span{
  color: greenyellow;
}
.MainGame__start-description {
  width: 70%;
  font-size: 18px;
  margin: 0 auto 50px auto;
}
.MainGame__start-description span {
  font-size: 28px;
  color: greenyellow;
}
.Controles{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto 80px auto;
}
.Controles__item{
  width: 350px;
  display: flex;
  align-items: center;
}
.Controles__item-gamer{
  width: 60px;
  margin-right: 20px;
}
.Controles__item-gamer img{
  width: 100%;
  height: auto;
}
.Controles__content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 130px;
}
.Controles__content-item{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Controles__content-item:hover{
  background-color: white;
  color: black;
}
.Controles__content-top{
  width: 100%;
}
.Controles__content-top .Controles__content-item {
  margin: 0 auto 15px auto;
}
.MainGame__start-button{
  width: 245px;
  height: 66px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 24px;
  color: greenyellow;
  cursor: pointer;
  transition: .2s ease-in-out;
  position: relative;
}
.MainGame__start-button span{
  z-index: 2;
}
.MainGame__start-button::after{
  content: '';
  width: 0%;
  position: absolute;
  background-color: greenyellow;
  top:0;
  left: 0;
  height: 100%;
  transition: .2s ease-in-out;
}
.MainGame__start-button:hover{
  transition: .2s ease-in-out;
  border-color: greenyellow;
  color: black;
}
.MainGame__start-button:hover::after {
  content: '';
  width: 100%;
  transition: .2s ease-in-out;
}

.MainGame__game{
  width: 100vw;
  height: 100vh;
  position: relative;
  /* background: url(../img/space-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.GameOver{
  width: 520px;
  padding: 43px 49px;
  border: 2px solid greenyellow;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.GameOver .MainGame__start-button{
  border-color: greenyellow;
 }
.GameOver__active{
  display: block;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.Score{
  font-size: 50px;
  position: absolute;
  left:  45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 20px 35px;
}